@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

$blue: #04c;
$pink: #9b009b;
$yellow: #7c9b00;
$green: #0d8e00;
$white: #fafafa;

.page-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: 'Libre Baskerville', serif;
  &.blue {
    background: $white linear-gradient(lighten($blue, 50%), $white) no-repeat;
    ::selection {
      background-color: $blue;
      color: $white;
    }
    a {
      &:hover {
        color: $blue;
      }
    }
  }
  &.pink {
    background: $white linear-gradient(lighten($pink, 50%), $white) no-repeat;
    ::selection {
      background-color: $pink;
      color: $white;
    }
    a {
      &:hover {
        color: $pink;
      }
    }
  }
  &.yellow {
    background: $white linear-gradient(lighten($yellow, 50%), $white) no-repeat;
    ::selection {
      background-color: $yellow;
      color: $white;
    }
    a {
      &:hover {
        color: $yellow;
      }
    }
  }
  &.green {
    background: $white linear-gradient(lighten($green, 50%), $white) no-repeat;
    ::selection {
      background-color: $green;
      color: $white;
    }
    a {
      &:hover {
        color: $green;
      }
    }
  }
}
.navbar {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 1rem;
}
.site-content-container {
  position: static;
}
.site-content {
  padding: 1rem;
  background: $white;
  box-shadow: rgba(0, 0, 0, 0.9) 0 1px 4px, rgba(0, 0, 0, 0.05) 0 0 60px inset;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translateY(-50%) translateX(-50%);
}
a {
  color: #212529;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    text-decoration: none;
  }
}

@include media-breakpoint-up(sm) {
  .site-content {
    width: initial;
  }
}
